//
   Created by christian on 7/31/2015.

button#btnLeave LEAVE
div.billboard
   div.tableName The name
   div.teamContainer
      div.teamName Player0 & Player2
      div.teamName Player1 & Player3
      div.score 250
      div.score 1230
div
   div.table
      div.playerView.front
         div.playerName PlayerFront
         div.passed PASS
         div.calledTichu TICHU
         div.given
            div.card.hidden.small.fromleft
            div.card.jade.as.small.fromfront
            div.card.hidden.small.fromright
         div.playerHand.folded
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
         div.playerStack.stacked
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
      div.playerView.left
         div.playerName PlayerLeft
         div.passed PASS
         div.calledTichu TICHU
         div.given
            div.card.hidden.small.fromleft
            div.card.hidden.small.fromfront
            div.card.pagoda.three.small.fromright
         div.playerHand.folded
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            //div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
         div.playerStack.stacked
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
      div.playerView.right
         div.playerName PlayerRight
         div.passed PASS
         div.calledTichu GRAND TICHU
         div.given
            div.card.sword.two.small.fromleft
            div.card.hidden.small.fromfront
            div.card.hidden.small.fromright
         div.playerHand.folded
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
         div.playerStack.stacked
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
            div.card.hidden.small
      div.playerHand.wish
         div.wishText Do you want to wish for a card?
         div.playerHand.folded
            div.card.two(face='2')
            div.card.three(face='3')
            div.card.four(face='4')
            div.card.five(face='5')
            div.card.six(face='6')
            div.card.seven(face='7')
            div.card.eight(face='8')
            div.card.nine(face='9')
            div.card.ten(face='10')
            div.card.jack(face='J')
            div.card.queen(face='Q')
            div.card.king(face='K')
            div.card.as(face='A')
            div.card.nowish(face='none')
      div.playerHand.played.left
         div.playerHand.folded
            div.card.pagoda.two
            //div.card.pagoda.three
            //div.card.pagoda.four
            //div.card.pagoda.five
            //div.card.pagoda.six
            //div.card.pagoda.seven
            //div.card.pagoda.eight
            //div.card.pagoda.nine
            //div.card.pagoda.ten
            //div.card.pagoda.jack
            //div.card.pagoda.queen
            //div.card.pagoda.king
            //div.card.pagoda.as
            //div.card.dragon.special
      div.playerHand.played.front
         div.playerHand.folded
            div.card.pagoda.two
            //div.card.pagoda.three
            //div.card.pagoda.four
            //div.card.pagoda.five
            //div.card.pagoda.six
            //div.card.pagoda.seven
            //div.card.pagoda.eight
            //div.card.pagoda.nine
            //div.card.pagoda.ten
            //div.card.pagoda.jack
            //div.card.pagoda.queen
            //div.card.pagoda.king
            //div.card.pagoda.as
            //div.card.dragon.special
      div.playerHand.played.right
         div.playerHand.folded
            div.card.pagoda.two
            //div.card.pagoda.three
            //div.card.pagoda.four
            //div.card.pagoda.five
            //div.card.pagoda.six
            //div.card.pagoda.seven
            //div.card.pagoda.eight
            //div.card.pagoda.nine
            //div.card.pagoda.ten
            //div.card.pagoda.jack
            //div.card.pagoda.queen
            //div.card.pagoda.king
            //div.card.pagoda.as
            //div.card.dragon.special
      div.playerHand.played.self
         div.playerHand.folded
            div.card.pagoda.two
            //div.card.pagoda.three
            //div.card.pagoda.four
            //div.card.pagoda.five
            //div.card.pagoda.six
            //div.card.pagoda.seven
            //div.card.pagoda.eight
            //div.card.pagoda.nine
            //div.card.pagoda.ten
            //div.card.pagoda.jack
            //div.card.pagoda.queen
            //div.card.pagoda.king
            //div.card.pagoda.as
            //div.card.dragon.special
   div.chat
      div.history
      form#formChat
         input#chatMessage(placeholder='Say something nice')
         button#btnSendChat(type='submit') SEND
   div.myself
      div.playerView.self
         div.passed PASS
         div.calledTichu TICHU
         div.currentWish Current Wish
            div.card.five.small
         div.given
            div.card.jade.two.fromleft
            div.card.phoenix.special.fromfront
            div.card.pagoda.nine.fromright
         div.playerHand.folded
            div.card.pagoda.two
            div.card.pagoda.three
            div.card.pagoda.four
            div.card.pagoda.five
            div.card.pagoda.six
            div.card.pagoda.seven
            //div.card.pagoda.eight
            div.card.pagoda.nine
            div.card.pagoda.ten
            div.card.pagoda.jack
            div.card.pagoda.queen
            div.card.pagoda.king
            div.card.pagoda.as
            div.card.dragon.special
         div.playerStack.stacked
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
            div.card.hidden
         div.controls
            button#btnPlay PLAY
            button#btnPass PASS
            button#btnGive GIVE
            button#btnAccept ACCEPT
            button#btnTichu TICHU
            button#btnClear Clear selection
         div.alternatives
            div.alternativesText Alternative detected
            div.playerHand.folded(aId=0)
               div.card.pagoda.two
               div.card.pagoda.three
               div.card.pagoda.four
               div.card.pagoda.five
               div.card.pagoda.six
               div.card.pagoda.seven
               //div.card.pagoda.eight
               div.card.pagoda.nine
               div.card.pagoda.ten
               div.card.pagoda.jack
               div.card.pagoda.queen
               div.card.pagoda.king
               div.card.pagoda.as
               div.card.dragon.special
            div.playerHand.folded(aId=1)
               div.card.pagoda.two
               div.card.pagoda.three
               div.card.pagoda.four
               div.card.pagoda.five
               div.card.pagoda.six
               div.card.pagoda.seven
               //div.card.pagoda.eight
               div.card.pagoda.nine
               div.card.pagoda.ten
               div.card.pagoda.jack
               div.card.pagoda.queen
               div.card.pagoda.king
               div.card.pagoda.as
               div.card.dragon.special
            button#btnCancelAlternatives Cancel
         div.giveDragonDialog Who do you want to give the Dragon to?
            span
               button#giveTichu(to='left') Left
               button#giveTichu(to='right') Right
